#itemList {
	display: flex;
	flex-wrap: wrap;
}

h1 {
	font-size: 300%;
	color:#F76C5E;
}

.button {
  background-color: white; 
  color: #F76C5E; 
  border: 2px solid #F76C5E;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 7px;
}

.button:hover {
  background-color: #F76C5E;
  color: white;
}

.item {
	padding: 20px;
}

.item:hover {
	border-left: 10px solid #324376;
	background-color: #586BA4;
	padding-left: 10px;
}

.item > h4 {
	margin-bottom: 15px;
}

.item > h5 {
	margin-bottom: 15px;
	margin-top: 15px;
}

.itemPhoto {
	width: 15em;
}

.noShow {
	display: none;
}

body {
  font-family: Verdana;
  background: linear-gradient(110deg, #f5DD90 60%, #F76C5E 60%);
  
}

.flex-container {
  display: flex;
  flex-direction: horizontal;
}

@media screen and (max-width: 630px) {
  .flex-container {
    display: block;
  }
  .itemPhoto {
	width: 20em;
}
.item {
	align-content: center;
}
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
  display: inline-block;
  float: left;
}

.topnav {
  background: linear-gradient(240deg, #586BA4 60%, #324376 60%);
  overflow: hidden;
  margin-bottom: 10px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #586BA4;
  color: black;
}

.topnav a.active {
  background-color: #F76C5E;
  color: white;
}
.topnav a.active:hover {
  background-color: #586BA4;
  color: white;
}