* {
  font-family: Verdana;
  font-size: 100%;
}

/* navigation bar */
.topnav {
  background-color: #2F76B6;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav p {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  font-size: 17px;
  border-style: 0px;
}

.topnav a:hover {
  background-color: #548EC3;
  color: white;
}

.topnav a.active {
  background-color: #276195;
  color: white;
}
.topnav a.active:hover {
  background-color: #548EC3;
  color: white;
}

.topnam a.death:hover {
	background-color: red;
}

#courseSelect > select {
  float:left;
}

.signUp {
  display:flex;
  flex-direction:horizontal;
}

/* sectionCreation.php reset button */
.reset {
  background-color: white;
  color: red;
  border: 2px solid red;
}

.reset:hover {
  background-color: red;
  color: white;
}

/*all buttons*/
.button {
  background-color: white;
  color: green;
  border: 2px solid green;
}

.button:hover {
  background-color: green;
  color: white;
}

/* <select> styles */
select {
  border-radius: 25px;
  background: white;
  border: 2px solid #2F76B6;
  color: #2F76B6;
}

.sectionSelect {
  margin: 5px;
}

.courseSelect {
  margin: 5px;
}

#courseSelect {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#teacherSignUp {
  margin-top: 10px;
}

.sectionLabel {
  display: inline-block;
  width: 10%;
  text-align: right;
}​


