* {
  font-family: Verdana;
  font-size: 100%;
}

p {
  width: 500px;
}

/* navigation bar */
.topnav {
  background-color: #2F76B6;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav p {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  font-size: 17px;
  border-style: 0px;
}

.topnav a:hover {
  background-color: #548EC3;
  color: white;
}

.topnav a.active {
  background-color: #276195;
  color: white;
}
.topnav a.active:hover {
  background-color: #548EC3;
  color: white;
}

.topnam a.death:hover {
	background-color: red;
}

#courseSelect > select {
  float:left;
}

.signUp {
  display:flex;
  flex-direction:horizontal;
}

/* sectionCreation.php reset button */
.reset {
  background-color: white;
  color: red;
  border: 2px solid red;
  border-radius: 5px;
}

.reset:hover {
  background-color: red;
  color: white;
}

/*all buttons*/
.button {
  background-color: white;
  color: green;
  border: 2px solid green;
  border-radius: 5px;
}

.button:hover {
  background-color: green;
  color: white;
}

/* <select> styles */
select {
  border-radius: 25px;
  background: white;
  border: 2px solid #2F76B6;
  color: #2F76B6;
}

.sectionSelect {
  margin: 5px;
}

.courseSelect {
  margin: 5px;
}

#courseSelect {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#teacherSignUp {
  margin-top: 10px;
}

/* Section formatting*/
.sectionLabel {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}​

#numSections {
  margin: 10px;
}

#resetSections > button {
  margin-top: 5px;
}

/* Table formatting */
#readInfo {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-top: 20px;
  width: auto;
}

#readInfo td, #readInfo th {
  border: 1px solid #ddd;
  padding: 8px;
}

#readInfo tr:nth-child(even) {
  background-color: #f2f2f2;
}

#readInfo tr:hover {
  background-color: #ddd;
}

#readInfo th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

