@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

.title {
  height: auto;
  margin: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 250px;
  padding-right: 100%;
  background-color: lightgrey;
  position: relative;
  z-index: 2;
  width: 100%;
}

.title h1{
  font-family: "Alata", sans-serif;
  font-size: 3em;
  margin-top:3px;
  margin-bottom:6px;
  font-weight: normal;
  width: 100%;
}

#logo {
  position: absolute;
  width: 110px;
  top: 0;
  left: 90px;
  z-index: 5;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  width:100%;
  align-content: center;
  padding-left: 330px;
  display: flex;
  justify-content: left;
  padding-right: 100%;
}

.navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #2F77B6;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#active {
  background-color: #2F77B6;
}

/* The sidebar menu */
.sidebar{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: absolute; /* Absolute Sidebar (stay in place on scroll) */
  float: left;
  top: 135; /* Stay at the top */
  left: 0;
  background-color: lightgrey; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  z-index: -2;
  overflow-y: scroll; 
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sidebar h2 {
  padding-left: 5px;
  padding-bottom: 5px;
  margin: 0;
}

ul.side-info {
  list-style: none;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 0;
  border-left: 6px solid #2F77B6; 
}

/* The navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 325px; /* Same as the width of the sidebar */
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: -3;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 795px;
  width:100%;
}

.bucket-container {
  max-width: 100%;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bucket {
  width: 25%;
  max-width: 258px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.bucket h3 {
  height: 12%;
}

.bucket img {
  width: 70%;
}

a.bucket-link {
  text-decoration: none;
  color: black;
}

.bucket:hover {
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
  transform: scale(1.1);
  transform-origin: center;
}

.twoOfThree {
  border-style: groove;
  border-width: 0px 1px 0px 1px;
  border-color: lightgrey;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.oneOfTwo {
  border-style: groove;
  border-width: 0px 1px 0px 0px;
  border-color: lightgrey;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 10px;
  padding-left: 0;
  margin-left: 0;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  list-style: none;
  table-layout: fixed;
}

/* Display list items side by side */
ul.breadcrumb li {
  padding: 10px 10px;
  display: inline-block;
  font-size: 16px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 10px 10px
  padding: 8px;
  color: black;
  display: inline-block;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  padding: 0;  
  color: #2F77B6;
  text-decoration: none;
  font-size: 16px;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  padding: 10px 10px
  color: #01447e;
  text-decoration: underline;
}

.top-banner {
  justify-content: center;
  margin-bottom: 20px;
} 

.top-banner img {
  object-fit: cover;
  position:relative;
}


body {
  margin:0;
  max-width: 1035px;
  overflow-x: hidden; 
  font-family: "lucida sans";
}

@media only screen and (min-width: 1589px) {
  body {
    margin-right:10%;
    max-width: 1035px;
    overflow-x: hidden; 
    font-family: "lucida sans";
  }

  #logo {
    position: absolute;
    width: 110px;
    top: 0;
    left: 90px;
    z-index: 5;
  }

  .sidebar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: absolute; /* Absolute Sidebar (stay in place on scroll) */
    float: left;
    top: 135; /* Stay at the top */
    left: 0;
    background-color: lightgrey; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    z-index: -2;
    overflow-y: scroll; 
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
}

.side-dropdown {
  background-color: transparent;
  border: none;
  font-family: "futura";
  text-align: left;
  width: 100%;
}

.side-dropdown:hover {
  color: #2F77B6;
}

#contact-faq-list {
  display: none;
  list-style: none;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 0;
  border-left: 6px solid #2F77B6; 
}
 
#contact-rel-list {
  display: none;
  list-style: none;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 0;
  border-left: 6px solid #2F77B6; 
}

#contact-sni-list {
  display: none;
  list-style: none;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 0;
  border-left: 6px solid #2F77B6; 
}

.contact-page {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.contact-card {
	width: 300px;
	height: auto;
	margin: 10px;
	border-radius: 5px;
	background: #2F77B6;
	padding: 10px;
}

.contact-card:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	transform: scale(1.1);
  	transform-origin: center;
}

.contact-card:hover a{
	color: white;
}

.contact-card img {
	float: left;
	width: 80px;
	padding-right: 3px;
}

.contact-card a {
	text-decoration: none;
	color: black;
}
.contact-card h3 {
	margin: 5px;
	margin-top: 2px;
}

.contact-card p {
	display: none;
}

.question {
	text-decoration: none;
	color: black;
}

.question:hover{
	color:#2F77B6;
	transform: scale(1.1);
	transform-origin: left;
}

.answer {
	display: none;
	padding-left: 50px;
}